<div>

  <h3 class="overview">{{capsule.season}}</h3>

  <detail-filterbar sort="sort" order="order"></detail-filterbar>

  <section class="flex-container main-detail-section">

      <div class="flex-child1">
        <div class="flex-container">
          <div class="flex-child2" ng-repeat="item in items
                         | filter: sort
                         | orderBy: order.importance">
              <item item="item" delete="deleteItem"></item>
          </div>
        </div>
      </div>

      <div ui-view class="flex-child1"></div>

  </section>


  <item-form add="addItem"></item-form>

</div>
