.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-child1 {
  flex: 1;
}

.flex-child2 {
  width: 200px;
}

.main-detail-section {
  margin-top: 50px;
}
