<h3 class="overview">{{capsule.season}}</h3>

<detail-filterbar sort="sort" order="order"></detail-filterbar>

<div class="container-fluid">
  <div class="grid">
    <div class="grid-sizer col-xs-12 col-sm-4 col-md-3"></div>
    <div class="grid-item col-xs-12 col-sm-4 col-md-3"
                ng-repeat="item in items
                          | filter: sort
                          | orderBy: order.importance">
        <item item="item" delete="deleteItem"></item>
    </div>
  </div>
</div>

<item-form add="addItem"></item-form>
