<div class="thumbnail season-thumbnail">
  <a ng-href="#/capsules/{{capsule._id}}"><img class="thumbImage" ng-src="{{capsule.url}}" alt="Missing image"></a>
  <div class="caption">
    <a ng-href="#/capsules/{{capsule._id}}">
      <h3>{{capsule.season}}</h3>
      <p>{{capsule.description}}</p>
    </a>
    <div>Created: {{ capsule.createdAt | date:dateFormat }}</div>
    <button ng-click="editCapsule()" class="btn btn-default">Edit</button>
    <button ng-click="deleteCapsule()" class="btn btn-danger deleteButton">Delete</button>
  </div>
</div>
